{
    "presets": ["@babel/preset-env"],
    "sourceMaps": "inline",
    "retainLines": true,
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
